[2014-06-26 23:29] jasonlally opened #3 "Add more detailed "story" pages about each project"
Using Jekyll's built in blogging features, we can create templates to describe projects in narrative format. Using YAML options at the top of each project post, we can pull in information from the project API and include standard fields like:

- Google Drive folder link
- CFAPI endpoint describing that project (so we can display things like latest issues, skills needed, etc)
- Short description fo

[2014-07-03 19:12] jasonlally opened #7 "Design new checkin workflow to make signing in simple"
I closed issue #2 and am replacing it with this next step, which is to more deeply think about and design an optimal checkin workflow that makes it easy peasy to say:

1. I'm here
2. Here are the skills and interest I have

I like the current solution, it's pretty simple, but it's a lot of data entry for someone to enter skills and interest in an open format every time. I can imagine folks sufferi

[2014-08-16 21:07] jasonlally opened #11 "Add all existing projects to /projects"
Currently there are 2 test projects listed at [/projects](http://codeforsanfrancisco.org/beta/projects)

- Local Free Web
- Open Referral

We need to add all the existing projects here. This will be the place where project leads can tell the story about the projects and individuals can enter into one of the projects, suggest a new project.

You can follow Open Referral as a template for the YAML f

[2014-08-16 21:13] jasonlally opened #12 "Add links to list of repos currently at /projects/code"
The original projects list has been moved to [/projects/code](http://codeforsanfrancisco.org/beta/projects/code). This is a list of repos and is suited for coders that want to jump right into code, whereas /projects will serve a broader audience.

We could just move this to /code? Add it to the navigation so we have Projects, Code, People?

I think this could help us with our multiple audiences. I

[2014-08-16 21:29] jasonlally opened #15 "Add create and edit post buttons/links to posts on prose.io"
For projects, updates, and blog posts, create "edit" and "new" links that link to the prose.io editor. This will enable Brigade members and guests to add and edit content without directly touching GitHub. While users will require a GitHub username and password to add/edit content, this is a small price to pay for giving us the ability to share editing with anyone who wishes to take part in the com

[2014-08-28 03:49] jeremiak opened #19 "Add Twitter embed to the site"
Let's get one of those fancy Twitter widgets up on the site to show tweets from [@sfbrigade](https://twitter.com/sfbrigade). The documentation for the Twitter widget embed can be found right here:
https://dev.twitter.com/docs/embedded-timelines

[2014-09-11 01:12] sfmaddie opened #21 "Add Links to Social Media on Blog Posts for easy sharing"
Twitter
Facebook
Linkedin
.. others?

[2014-09-11 01:13] sfmaddie opened #22 "LocalFreeWeb Blog: Add some pictures to the Blog"
Who created this?
Who is using this?
What does the text message look like?
...

[2014-09-17 21:51] MissPaaj opened #24 "Add our Strategic Plan to the website"
https://docs.google.com/document/d/1WcCAWQTfCUhZLqb-AArYDWVWW1E3V96UKDeoIr_3j5s/edit#heading=h.yqbd75e4wzsq

[2014-10-02 15:55] stanzheng opened #27 "Blog Entry Previous posts Directory 404"
Bug

Navigate to /blog for example http://jekit.codeforamerica.org/sfbrigade/sfbrigade.github.io/master/blog/

Under 'Previous posts'
all urls have a site root of /blog/ 'http://blog/LocalFreeWeb/'

has to do something with site.url see

https://github.com/sfbrigade/sfbrigade.github.io/blob/master/blog/index.html#L38

[2014-10-23 03:03] MissPaaj opened #28 "Add social media icons to homepage"
In header or footer, maybe

[2014-10-30 01:02] ondrae opened #29 "Mobile menu not working"
Go to http://codeforsanfrancisco.org/ on your phone. The hamburger menu should show at least a /projects link.

[2014-10-30 18:53] lamarjordanux opened #30 "Color contrast (a11y)"
The blue links only provide a contrast of 3.6:1. The requirement advises the contrast should be 4.5:1. [Fun fact: github's links are the same color].

Some better blue color options could be #4040FF or #6060BF. These two colors satisfy the requirement. Let me know if you don't like these colors/want to go with something other than blue. We have a color contrast checker here if you want to try it:

[2014-11-05 23:16] ondrae opened #31 "Improve the About page"
"What about links to our people - LinkedIn, Twitter, Github? Maybe we could use the icons from the CfA People pages?" via @MissPaaj

[2014-11-06 18:08] stanzheng opened #32 "Issue on IE10+"
The landing page doesn't look right on IE10+. Only figured since we forked your site and are using it live at http://code4hr.org/

testing can be done at http://modern.ie/

I dont use a windows device so I never noticed the issue.

[2014-11-20 04:58] jasonlally opened #33 "Troubleshoot prose.io"
There have been a couple of issues around prose.io. I'm going to just run the site through some flows and see what breaks and then try to fix it.

[2014-11-20 08:28] jasonlally opened #34 "Add clearer editing instructions and buttons"
Need to create UI elements to add and edit posts...

[2014-11-20 08:29] jasonlally opened #35 "Figure out if prose.io authentication workflow is fixable"
Prose does not ask you to authenticate before giving you access to edit a doc so that you can make a bunch of edits and then lose everything when you log in. Looking for a way to fix this either on the prose side or on our side.

[2014-11-26 17:19] ondrae opened #36 "Mobile has Meetup.com checkin"
yet Desmond built a great new personalized check in tool for us. We should get rid of the meetup checkin link.
![image](https://cloud.githubusercontent.com/assets/595778/5205582/48dad64e-754d-11e4-9adb-d67d0d506127.jpg)

[2014-11-26 17:21] ondrae opened #37 "Main front page buttons don't show on mobile"
the big green Projects, Discussios , and Code buttons are pushed too far down on mobile.
![image](https://cloud.githubusercontent.com/assets/595778/5205618/9d9922ee-754d-11e4-96d8-2231722d6400.jpg)

[2015-01-18 21:20] hackajesse opened #38 "Finish post-a-blog-entry ReadMe"
There are instructions for creating a post but not for publishing.

[2015-01-19 20:30] jasonlally commented on #7
This has been addressed by the check in app developed by Desmond. I updated the link at http://codeforsanfrancisco.org that shows up when you go to the site on mobile so people can click right through to sign in.

[2015-01-19 20:30] #7 closed

[2015-01-19 20:32] jasonlally commented on #36
I replaced this with a link to Desmond's checkin app

[2015-01-19 20:32] #36 closed

[2015-01-19 20:34] jasonlally commented on #35
Found a workaround to make the editing workflow a bit easier. Clicking on edit and add links forces you through OAuth and redirects to the appropriate page. These links are in the site itself under each blog post. I'll go ahead and get the Readme updated to reflect these changes as well.

[2015-01-19 20:34] #35 closed

[2015-01-19 20:35] jasonlally commented on #33
See #35

[2015-01-19 20:35] #33 closed

[2015-01-19 20:44] jasonlally commented on #15
Incorporated the links on the posts (edit and add), the workflow seems to work well, if you have the right privileges on the repo.  I'll make the links a little more obvious (buttons, maybe?) and then maybe add the Add post link to the stories list (/blog)

[2015-01-19 21:34] jasonlally opened #43 "Projects list last updated not reflecting actual updates"
The last updated field on the [projects page](http://codeforsanfrancisco.org/projects) doesn't seem to reflect most recent changes if the project is hosted on GitHub. For example, Open Referral has an updated date of four months ago, but the repo was updated 12 days ago.

@ondrae ? Is this a known issue with CFAPI?

[2015-01-19 23:14] jasonlally commented on #43
Better example may be this website repo actually, says last update was 12 days ago.

[2015-01-19 23:23] jasonlally commented on #43
Oh, I think I just noticed a theme. It appears there are projects listed in the API, that have been removed from the spreadsheet. These old projects aren't being cleared out. I think you may have mentioned this being a problem already and maybe it's in the pipeline to fix...sorry if this is duplicative.

[2015-01-19 23:28] jasonlally commented on #43
Yep, I [see the issues here](https://github.com/codeforamerica/cfapi/milestones/Ensure%20Deletion%20and%20Change%20Works).

[2015-01-22 01:23] ondrae commented on #43
[FIXED](https://github.com/codeforamerica/cfapi/pull/175)

[2015-01-22 01:23] #43 closed

[2015-02-01 04:34] jasonlally commented on #27
This should now be fixed. The blog posts have been reoriented a bit, but the previous posts now show here: https://github.com/sfbrigade/sfbrigade.github.io/blob/master/_layouts/blog.html#L41

[2015-02-01 04:34] #27 closed

[2015-02-01 04:36] jasonlally commented on #22
@jtanigawa - do you want to update this post? I'll document how to do this shortly, but if you have images you want to add, I can take you through real quick

[2015-02-01 04:37] jasonlally commented on #24
I'll do this as part of improving the about page #31 - marking as duplicate to clean up the issues.

[2015-02-01 04:40] jasonlally commented on #21
Sharing links now at the bottom of every blog post with the author meta. I'll close this for now, but please reopen if there are issues or suggestions for changing.

[2015-02-01 04:40] #21 closed

[2015-02-01 04:43] jasonlally commented on #11
I'm going to close this now as it's being replaced by a new approach.

[2015-02-01 04:43] #11 closed

[2015-02-01 04:49] jasonlally commented on #12
The new approach is probably best captured by #3 - where as @ondrae describes above, we'll link off a master projects list to more detailed project pages that are curated by the Brigade. These won't be required to have a project listed.

This approach will allow people to have a project listed on the website with little effort, while letting folks that want to put more time into a more robust proj

[2015-02-01 04:49] #12 closed

[2015-03-01 07:59] hackajesse opened #46 "Create Civic User Testing subdomain"
Create civic user testing subdomain a la OpenOakland - this is the beginning of the initiative and it's good to be prepared to advertise the initiative via the website.

http://cutgroup.openoakland.org/

[2015-03-01 08:01] hackajesse opened #47 "Assign Jesse list of documents to edit for CUT group SF"
Which files in the cutgroup repo have copy I need to edit and which should I leave alone? Make a list and send it my way. I'll edit and get it all ready.

[2015-03-01 08:04] hackajesse opened #48 "Clone OpenOakland's New Project Form"
We need a way to source information on projects to get them into the website asap. People working on projects can fill out this form on the website whenever they like - this will be one of the steps towards becoming an official Code for SF project.

https://www.openoakland.org/openoakland-new-projects-form/

@jrkao please comment here with your specifications for the cloning

[2015-03-05 03:52] jrkao commented on #48
Here's what I would like to see for the SF Brigade below. More detailed info like target users, maintenance, etc are not required for projects unless they become Officially Sponsored so I don't want to include those questions in the initial form for new projects.

What is the name of your project?

Can you give us a project summary?
Describe the project in 250 words or less

What is the website fo

[2015-03-23 04:05] hackajesse opened #49 "Add Page for Job postings / consulting requests"
We get a lot of these and it would be cool to have a board asking for volunteers, offering contact info, etc.

Some fun options for open source software:
http://www.jobberbase.com/
http://www.jamit.com/

[2015-03-25 04:24] cjerdonek commented on #29
Is this no longer an issue?  I'm not seeing it on my phone.  See attached image below.
![img_2065](https://cloud.githubusercontent.com/assets/355822/6818400/12c61a24-d26c-11e4-96ba-b6ea7d39db64.PNG)

[2015-03-25 15:54] ondrae commented on #29
Yeah looks like it was fixed when @jasonlally did his refresh a little bit back. Thanks for the heads up.

[2015-03-25 15:54] #29 closed

[2015-03-25 21:50] cjerdonek opened #50 "Duplicated CSS file"
There seem to be two copies of the same (or nearly the same) CSS file in the repo:

* [_includes/css/sfbrigade.css](https://github.com/sfbrigade/sfbrigade.github.io/blob/07fed11790066a92a33e80ac1fe4f45c412c0ec6/_includes/css/sfbrigade.css)
* [css/style.css](https://github.com/sfbrigade/sfbrigade.github.io/blob/07fed11790066a92a33e80ac1fe4f45c412c0ec6/css/style.css)

Among other things, this makes

[2015-03-25 21:53] jasonlally commented on #50
Chris,

The [_includes/css/sfbrigade.css](https://github.com/sfbrigade/sfbrigade.github.io/blob/07fed11790066a92a33e80ac1fe4f45c412c0ec6/_includes/css/sfbrigade.css) is the right one.

css/style.css should just be deleted to avoid confusion.

[2015-03-25 22:59] cjerdonek commented on #50
Thanks, @jasonlally.  A couple questions before I make a PR:

1. It looks like [`header_blog.html`](https://github.com/sfbrigade/sfbrigade.github.io/blob/master/_includes/header_blog.html#L10) is still referencing `/css/style.css` as opposed to `/style.css` (which corresponds to `_includes/css/sfbrigade.css`).  Is `header_blog.html` used anywhere?
2. It looks like [`/css/font-awesome.css`](https:/

[2015-03-26 04:46] jasonlally commented on #50
You can delete both of those. Thanks for catching this!

[2015-03-26 04:49] jasonlally commented on #46
Who owns the code for san francisco domain? Whoever owns that can set that up and point it at github. We can clone oakland's one pager and just swap out the relevant things. Should be pretty straightforward.

[2015-03-26 06:15] cjerdonek commented on #50
Thanks, @jasonlally.  I created PR #51 to address this issue.

[2015-03-26 20:24] cjerdonek commented on #37
I just submitted PR #52 to fix this.

[2015-03-26 20:28] cjerdonek opened #53 "jekyll serve --watch not refreshing"
I haven't looked into why yet, but `jekyll serve --watch` doesn't seem to be refreshing automatically for me.  I need to terminate the server and rerun the command in order to see changes.

[2015-03-26 20:32] cjerdonek opened #54 "Allow local development without internet access"
As I discussed in person with @jasonlally last night, it would be nice if one could run `jekyll serve` without an internet connection.  I found this out when trying to test my PR on Muni :light_rail: :grinning:

Fixing this would involve having files like Bootstrap downloaded locally instead of being served from a CDN in the development environment.

[2015-03-27 00:10] cjerdonek commented on #19
To address this issue, it looks like someone with access to the Twitter account will need to actually create / enable the widget (using the following link while logged in: https://twitter.com/settings/widgets ), and then copy the HTML to embed.  Some parameters would need to be decided though like height and theme, etc. In the meantime, one could experiment with the look and feel by generating wid

[2015-03-27 00:14] jeremiak commented on #19
Hmm, I think @hackajesse or @jtanigawa can help with those Twitter creds?

[2015-03-27 00:19] cjerdonek commented on #19
Cool. To save time and back-and-forth, it doesn't seem like creds or action would be needed until after the widget parameters are known.

[2015-03-27 17:14] #37 closed

[2015-03-28 00:34] cjerdonek opened #55 "Improve README instructions re: local dev URL"
On my Mac when developing locally, I can't access http://0.0.0.0:4000 using Chrome as the README says.  However, the following URL does work: http://127.0.0.1:4000

So I would recommend adding language to the README suggesting the second URL as an alternative.

See also this issue: https://github.com/jekyll/jekyll/issues/3048

[2015-03-28 01:44] cjerdonek commented on #19
I just submitted PR #56 to address this issue.

It turns out that Twitter lets you create widgets with usernames other than your own, so I was able to generate the HTML for the widget on my own.  What I'm not sure about is whether I need to keep the widget saved in my account, or if it will work indefinitely whether or not I delete the widget in my own account settings.

[2015-03-28 04:12] cjerdonek commented on #55
I submitted PR #57 to address this issue.

[2015-03-28 04:30] cjerdonek opened #58 "Add Ruby version and gemset info to repo"
Currently, it doesn't seem like a Ruby version or gemset name is specified anywhere in the repo.  I think it would be convenient to add this for tooling purposes (e.g. `.ruby-version` and `.ruby-gemset` files).  However, as I'm not primarily a Ruby developer, I'm not sure what the latest preferred method is to be maximally compatible with the different version managers out there (RVM, rbenv, etc).

[2015-03-30 03:39] hackajesse commented on #19
I know them. Slack DM me so theyre not all everywhere.
On Mar 26, 2015 5:19 PM, "Chris Jerdonek" <notifications@github.com> wrote:

[2015-03-30 18:05] cjerdonek commented on #53
I filed an issue about this on Jekyll (https://github.com/jekyll/jekyll/issues/3624), and it looks like this is caused by [this Mac OS X bug](http://feedback.livereload.com/knowledgebase/articles/86239).  A workaround is to append `--force_polling` to the command: `jekyll serve --force_polling`.

[2015-04-01 21:15] cjerdonek commented on #55
Addressed by #57.

[2015-04-01 21:15] #55 closed

[2015-04-01 21:22] cjerdonek commented on #19
Closed by PR #56.

[2015-04-01 21:25] cjerdonek commented on #19
Looks like I don't have the permissions to close this issue.  @hackajesse or @jeremiak, want to close?  Thanks.

[2015-04-01 21:26] cjerdonek commented on #50
Addressed by PR #51.

[2015-04-01 21:26] #50 closed

[2015-04-01 21:56] cjerdonek commented on #53
I made PR #60 to address this issue.

[2015-04-01 22:05] cjerdonek opened #61 "Replace Twitter widget with one created by @SFbrigade"
To address issue #19, I created a Twitter widget for Code for SF from my personal Twitter account.  This widget HTML should really be replaced by the HTML for a widget created from the SFbrigade account itself.  This way the SF Brigade would be able to edit their own widget without needing to go through me.

I can help with this by working with someone who has access to the Twitter account (e.g. @

[2015-04-02 01:42] ondrae commented on #31
The about page could use a refresh too. Our core team has had some turnover, our about page should show the new people.

[2015-04-02 02:45] cjerdonek commented on #61
I created PR #62 to address this issue.

[2015-04-04 01:54] jeremiak commented on #19
Sure thing!

[2015-04-04 01:54] #19 closed

[2015-04-23 01:56] cjerdonek commented on #61
Addressed by PR #62.

[2015-04-23 01:56] #61 closed

[2015-04-23 12:13] cjerdonek commented on #53
This was addressed by PR #60.

[2015-04-23 12:13] #53 closed

[2015-04-30 02:14] sfmaddie opened #66 "Post slides from Hack Night somewhere"
This was a feedback from Hack Night.

[2015-04-30 03:06] jtanigawa commented on #66
Did they recommend a location?

[2015-04-30 03:46] sfmaddie commented on #66
Nothing specific was mentioned. It would be best if it can be accessed in less than 3 clicks (ideally 1 click away) on the website.

[2015-04-30 03:53] jtanigawa commented on #66
I added it to the Our Projects page for now, will appear when the hourly update script is run.

[2015-04-30 03:55] sfmaddie opened #67 "Link on http://codeforsanfrancisco.org/hackforchange/page does not open the correct page"
When I click on 'Shared Prosperity Agenda' it opens to 'http://sfmayor.org/error.aspx' and there is no page at this link.

This link should open: http://sfmayor.org/index.aspx?page=1028

[2015-04-30 04:17] jtanigawa commented on #67
Can you check if it works now?

[2015-04-30 04:23] sfmaddie commented on #67
Works now, thank you :)

[2015-04-30 04:23] #67 closed

[2015-04-30 04:58] jtanigawa commented on #66
It's showing up on the Our Projects page, however the folder is pretty much a folder of folders, so trying to see if CfA's API would allow a sublist of links to those folders as well. Otherwise I'll just permanently add it at the top.

[2015-05-07 06:16] j6design opened #74 "NDoCH should be defined at least once on a page"
National Day of Civic Hacking (NDoCH)

[2015-05-07 06:25] j6design opened #75 "Descriptive link text (Accessibility)"
on http://codeforsanfrancisco.org/hackforchange/

Chang link "here" under Join Us heading to be more descriptive

Change link "more information here." to be more descriptive for both Sponsors and Partners

[2015-05-07 06:32] j6design opened #76 "Change a tag styled buttons to be buttons (Accessibility)"
Change "Sponsor Us" a tags to be buttons or a true link
http://codeforsanfrancisco.org/hackforchange/sponsors

Change "Partner With Us" a tags to be buttons or a true link
http://codeforsanfrancisco.org/hackforchange/partners/

[2015-05-07 06:35] j6design opened #77 ""Participate in NDoCH" Nav two different links to two diff. locations depending on page"
On Sponsor Page, goes to eventbrite
http://codeforsanfrancisco.org/hackforchange/sponsors

On most pages, goes to a participate page
http://codeforsanfrancisco.org/hackforchange/

[2015-05-09 00:24] andy-dev commented on #75
Hey, could you be more descriptive as to what exactly you wish to change? I do not see a here link or a more information here link.

Best,

Andy

[2015-05-09 00:28] andy-dev commented on #76
Right now this two buttons open a pop up for an email, is that not what we want?
or do you wish to add role to the buttons so that it can be announced as an actual button by assistive technologies.

[2015-05-30 20:42] cjerdonek opened #95 "Broken "Get your tickets" link"
The "Get your tickets ($10) here" link here isn't clickable for some reason:

http://codeforsanfrancisco.org/hackforchange/schedule/

[2015-05-30 21:44] atommarvel commented on #46
Hey guys.

I'm helping Emilia with getting this website up. For future reference we want the subdomain 'testfor'. So it would be:
[code]

[2015-05-31 03:47] rossettistone commented on #58
I've always used RVM, so wasn't sure either, but `.ruby-version` looks like a solid choice for both RVM and rbenv:

https://coderwall.com/p/hjyobw/create-ruby-version-and-ruby-gemset-files-using-rvm
https://github.com/sstephenson/rbenv

I defer to a primary maintainer for judgment on which version of ruby to bind to.

[2015-07-07 10:42] jtanigawa commented on #46
@atommarvel @jasonlally  @hackajesse So where are we at on this issue?

[2015-07-07 11:56] jtanigawa commented on #22
I've added an image of an example text message.

[2015-07-13 04:14] jasonlally opened #108 "Add Google Analytics"

[2015-07-13 04:15] jasonlally opened #109 "Create jobs page based on OpenOakland"
High priority to create jobs page to send people to apply for the core team

[2015-08-05 22:29] eunicekokor commented on #76
Where should these links link to?

[2015-08-19 14:39] jasonlally commented on #46
@ondrae subdomains?

[2015-08-26 22:04] hackajesse opened #112 "Missing unordered list"
http://codeforsanfrancisco.org/jobs/hack-night-team/ - paragraph before the last horizontal rule - needs to be an unordered list. @jasonlally

[2015-08-26 22:05] juliagoolia commented on #112
thanks jesse!

On Wed, Aug 26, 2015 at 3:04 PM, Jesse Biroscak <notifications@github.com>
wrote:

[2015-08-27 03:08] samaramiu opened #114 "Make the team application process more clear"
1. On the "Jobs" page (http://codeforsanfrancisco.org/jobs/), add a subhead below "Help Build a Stronger Organization" that briefly explains the application is to join the team such as, "Apply to be a part of one of the teams listed below."
2. On each individual team page (i.e. http://codeforsanfrancisco.org/jobs/finance-team), above the "Background" header, add a headline that also clearly states

[2015-08-27 23:37] ondrae commented on #3
Thanks little friendly @civicissuebot . I took off the `help wanted` label until we know how people can actually help us.

[2015-09-04 18:26] EvanHahn commented on #32
The site looks fine to me in IE10...what's the issue?

[2015-09-10 19:05] stanzheng commented on #32
my memories fuzzy but it must of been with the jumbotron and it looking off or transport. if it looks alright now then it must be cleared up.

[2015-09-10 19:05] #32 closed

[2015-09-24 01:37] therebelrobot opened #115 "Add new leadership teams to "About" page"
With the new restructuring, we need to gather everyone's info and update the about page.

[2015-09-24 02:03] therebelrobot opened #116 "Add Accessibility info to contrib docs"
Example from https://github.com/unlockedlab/unlockphilly#contributing

[2015-09-24 04:44] afomi opened #117 "make /signup a modal window"
## User Story
As a user,
I want to sign up,
but I also want to maintain my current view focus, rather than be redirected to another page.

## Implementation Notes
* We might consider the URL `/#signup` to remain linkable, but trigger the Sign Up form.
* Leave the `Newsletter` link in the main nav

[2015-09-24 04:45] afomi opened #118 "Consider a Calendar on /events"
I like the Logistics and details about Events at http://codeforsanfrancisco.org/events/, but it'd be good to show a Calendar, which is the most common way to convey time/date data. Plus an .ical feed could easily be picked up by others.

[2015-09-24 04:50] jamestyack commented on #116
:+1:

[2015-09-24 04:52] afomi commented on #115
We should sync with Vedrana, who sent out a Survey to collect this information.

[2015-09-28 20:01] therebelrobot opened #122 "Make it easier to add a notification"
![](https://i.imgur.com/b6SP5gM.png)

As part of this, we should make a standard way to add/remove temporary notifications on a regular basis. I'mma get a quick thing thrown in today, but let's be brainstorming on that.

[2015-10-06 04:01] jszwedko commented on #118
We could also utilize the meetup.com API to generate the content for this page (along with their ical feed) if we kept it up-to-date there.

[2015-10-06 17:16] j6design commented on #118
We have a google calendar too...want to start with the major events like code across and NDoCH

[2015-10-06 17:46] j6design commented on #118
https://www.google.com/calendar/embed?src=sfbrigade%40gmail.com&ctz=America/Los_Angeles

Julio

On Tue, Oct 6, 2015 at 10:38 AM, Trent Oswald <notifications@github.com>
wrote:

[2015-10-07 02:47] jszwedko commented on #118
Sounds good!

[2015-10-17 21:23] jszwedko commented on #95
Fixed by b56528bc, thanks for bringing this issue up!

[2015-10-17 21:23] #95 closed

[2015-10-17 21:26] jszwedko commented on #47
@hackajesse is this still a thing? I'm happy to help, but will need more context.

[2015-10-17 21:27] jszwedko commented on #112
Fixed by #113 thanks for filing this!

[2015-10-17 21:27] #112 closed

[2015-10-17 21:31] jszwedko commented on #114
Not sure if this was changed after this issue was filed, but the existence of the Google Form on the right hand side of the page feels pretty clear. Please let me know if you disagree though, as we may reuse this in the future.

Thanks for raising this issue @samaramiu !

[2015-10-17 21:33] jszwedko commented on #109
Given that this has happened ala http://codeforsanfrancisco.org/jobs/, but let me know if you were referring to something else @jasonlally !

[2015-10-17 21:33] #109 closed

[2015-10-17 21:36] jszwedko commented on #58
Looks like #100 added the `.ruby-version` file. I just added it to the Gemfile via https://github.com/sfbrigade/sfbrigade.github.io/commit/09640e60547f0a2d0b3df585bed1504da9755b6c too. Thanks for raising this issue!

[2015-10-17 21:36] #58 closed

[2015-10-17 21:38] jszwedko commented on #54
This is a good idea, thanks for raising the issue @cjerdonek . I'll take a shot at a PR for it.

[2015-10-17 21:42] jszwedko commented on #46
I'll take on making sure this gets done. @jasonlally who is a good person to reach out to regarding the copy that should go on the page?

[2015-10-17 21:43] jszwedko commented on #28
This is a good idea @MissPaaj , thanks for filing? I'm putting something together now.

[2015-10-17 21:58] jszwedko commented on #31
This is definitely true, I'll take on updating this with the new information.

[2015-10-17 21:59] jszwedko commented on #24
Closing this, I agree that it'll be taken care of as part of #31

[2015-10-17 21:59] #24 closed

[2015-10-17 22:02] jszwedko commented on #22
Took a peek at this blog post and it looks like the information referred to in this issue exists now. Closing this issue, but please feel free to re-open if you disagree! Thanks for raising this @sfmaddie !

[2015-10-17 22:02] #22 closed

[2015-10-17 22:13] jszwedko commented on #115
Agreed! I'm going to fold this into #31 which I'll take ownership of.

[2015-10-17 22:13] #115 closed

[2015-10-18 15:55] ondrae commented on #46
I can make whatever dns changes you need from our registrar. We use namecheap and they have a way for me to grant admin access to another acct.

You can make a free namecheap acct and I can give you access to just this domain.

[2015-10-18 19:18] jasonlally commented on #46
@jszwedko I'm not sure about copy, but @atommarvel should be able to direct you best here, or @hackajesse

[2015-10-20 22:23] hackajesse opened #126 "Verify (and replace if needed) attendance checkin newsletter signup checkbox actions"
When someone checks into hack night and they check a box saying, "sign me up for the CfA newsletter", does that sign them up for CfA's newsletter or CfSF's newsletter? It should be the latter (or both at least) if we're asking people in SF to do that checkin.

Ask @ondrae
Let @vedrana15 know

[2015-10-21 17:23] hackajesse commented on #46
Definitely @atommarvel or Emilia (Atom - is she still interested in participating on this project?)

[2015-10-21 17:25] hackajesse commented on #47
@jszwedko this is from the SF Perspectives group. We were copying [OpenOakland's Civic User Testing (CUT) Group page](http://cutgroup.openoakland.org/), but I don't know how far we've departed from their model. @atommarvel do you have any docs you can share so we can move forward w/this?

[2015-10-22 04:56] jszwedko commented on #126
@vedrana15 @hackajesse it looks like the Code for SF newsletter, the form action is `//codeforsanfrancisco.us10.list-manage.com/subscribe/post`.

[2015-10-22 04:59] #28 closed

[2015-10-22 05:30] jszwedko commented on #46
:+1: :+1: just let me know how you'd like to proceed, @atommarvel !

[2015-10-22 05:33] jszwedko commented on #47
@hackajesse thank you!

I think I'm missing what should be the end result of this issue though.  Is it just getting you access to the docs? Or is it more similar to the intended output of https://github.com/sfbrigade/sfbrigade.github.io/issues/46 (it seems like this issue is a pre-req for #46 at the least)?

[2015-10-22 17:45] afomi commented on #46
@ondrae, my NameCheap account is `wold@afomi.com`

[2015-10-22 18:05] ondrae commented on #46
Okay @afomi I got access to our namecheap again. I logged in and the new UI, while pretty, isn't apparent on how I can grant access to you.

Can you do the research of how I can give you access?

Here is an old email from Code for Boston for the permissions they wanted me to set.
![permissions](https://cloud.githubusercontent.com/assets/595778/10673832/c95c20e4-78ac-11e5-8529-723466402761.png)

[2015-10-22 18:13] afomi commented on #46
@ondrae, no sweat - here's what I found: https://www.namecheap.com/support/knowledgebase/article.aspx/192/46/how-do-i-grant-some-modification-rights-to-other-users

[2015-10-22 18:20] afomi commented on #46
of course :hand:

[2015-10-23 03:08] jszwedko commented on #46
Gracias! My Namecheap username is also `jszwedko`.

[2015-10-23 03:23] afomi commented on #122
what does the notification currently look like? a hard-coded string of HTML?

In order to make this more dynamic, sounds like a third-party service or data store may be in order.

[2015-10-23 21:46] ondrae commented on #46
Okay, gave permission to all three of you. You should get an email or something.

[2015-10-23 22:55] ondrae commented on #126
Are you talking about this page? https://www.codeforamerica.org/brigade/Code-for-San-Francisco/checkin/

Its signing up for Code for America's mailing list.

I've definitely gotten many requests to have that go to a Brigade's own Mailchimp as well. I've even sort of got a plan for it. I need to somehow get [this url](https://github.com/codeforamerica/brigade/blob/master/app.py#L536) for each Briga

[2015-10-23 23:12] jszwedko commented on #126
Ah, yes, I was talking about http://codeforsanfrancisco.org/signup/. I see now that @hackajesse was probably talking about the page you have @ondrae .

I agree that it'd be nice for that page to also sign them up for the Code for San Francisco mailing list.

[2015-10-24 01:38] hackajesse commented on #126
Bringing in @vedrana15 because she will have the mailchimp link you need @ondrae. Perhaps the guide you're making uses screenshots from CfSF?

– 
Jesse Biroscak

jesse.biroscak@gmail.com

c. 415.439.3164

[Li] [Tw]

On Fri, Oct 23, 2015 at 4:12 PM, Jesse Szwedko <notifications@github.com>
wrote:

[2015-10-26 18:19] hackajesse commented on #47
@jszwedko this is really something @atommarvel was working on, so I don't have much more than that. If he isn't participating, we'll just have to start from scratch anyways because there isn't anyone else leading SF Perspectives (to the best of my knowledge) (aka the SF CUT Group). Let's close this issue, I think...

[2015-10-27 03:26] jszwedko commented on #122
Yeah, it looks like it is hardcoded if https://github.com/sfbrigade/sfbrigade.github.io/pull/123/files is any indication.

[2015-10-30 03:28] jszwedko commented on #47
@hackajesse cool, I'll leave this issue for a bit longer to see if @atommarvel responds, but, failing that, I'll close this.

Thanks for the context!

[2015-11-12 19:41] jszwedko commented on #114
Closing this since the application process is over and I imagine we'll give it a once over if we reuse this in the future.

[2015-11-12 19:41] #114 closed

[2015-11-12 19:42] jszwedko commented on #31
Closing since @therebelrobot kindly updated in #129

[2015-11-12 19:42] #31 closed

[2015-11-12 19:46] jszwedko commented on #117
@afomi the newsletter page now has a listing of previous letters on it too. Do you think we should have a separate button in the header to sign up for the newsletter?

[2015-11-12 20:38] afomi opened #134 "Discuss a strategy to maintain forks & deployments of Adopta"
I feel like the community is all over the map in terms of managing Adopta (or any CfA/Brigade project) forks and deployments. I also feel that it'd be good to not have too much divergence in the space, because it could hamper maintainability and compatibility.

Just wanted to get this out and see what's being done in the Brigade community to manage such things.

[2015-11-15 20:38] jszwedko commented on #134
@afomi I think this discussion will be valuable!

I moved this issue over to https://github.com/sfbrigade/Website-Tools-Team/issues/26 as it seems like it isn't website specific, but let me know if you think it belongs here.

[2015-11-15 20:38] #134 closed

[2015-11-15 21:43] jszwedko commented on #126
@ondrae I _think_ the link you want is:
`https://codeforsanfrancisco.us10.list-manage.com/subscribe/post?u=13e30524fec23783d4f80e3b5&amp;id=9ea07180fe`, but let me know if that is not the case!

[2015-11-15 22:09] jszwedko commented on #75
Looks like this was taken care of already, can you confirm @j6design ?

[2015-11-15 22:10] jszwedko commented on #76
Looks like this was taken care of by #79

[2015-11-15 22:10] #76 closed

[2015-11-15 22:12] jszwedko commented on #77
Looks like this was addressed already, can you confirm @j6design. Thank you!

[2015-11-15 22:20] jszwedko commented on #38
@jasonlally I assume you aren't actively working on this now :)

I can take over, just wanted to make sure you didn't have anything in flight since you are currently assigned. Just let me know!

[2015-11-15 22:21] jszwedko commented on #47
Gonna close this, but please feel free to re-open @atommarvel if this is still something you are spearheading.

[2015-11-15 22:21] #47 closed

[2015-11-15 22:23] jszwedko commented on #46
Given @hackajesse's comments on #47, I'm going to close this since it isn't clear if the Civic User Testing group is currently active, but at least we all have Namecheap access now, thanks @ondrae!

[2015-11-15 22:23] #46 closed

[2015-11-15 22:29] jszwedko commented on #49
This would be a bit of an undertaking (including the maintenance, promotion, and curation aspects), so I'd like to push back a little and see if this is really something we want to take on. If there is enough need that is most easily served in this manner, I'm happy to help implement this though.

Currently it looks like these opportunities are shared via Slack and in-person at the Hack Night meet

[2015-11-15 22:50] jszwedko commented on #122
Given that we haven't had a need to do this since September, I'm inclined to keep the current manner of posting notifications rather than craft anything fancy. I did create #136 to document how to create the notification though which should lower the bar.

If this becomes a more common practice, I'd support creating a more user friendly way to maintain them, but since it feels infrequent I don't k

[2015-11-15 22:53] jszwedko commented on #66
#130 addresses newsletters, going to update this issue to be specific to the slides as I think this is the other thing that is requested frequently.

[2015-11-15 23:05] jszwedko commented on #48
@sfbrigade/project-launch-core-team do you have any opinions on the above?

We currently have the [spreadsheet](https://docs.google.com/spreadsheets/d/1iijLe3aS_l4Hn8YEblfi_ZRU2expkuB-uS7V0NVQp2w/edit#gid=0) which drives the [projects page](http://codeforsanfrancisco.org/projects/), but not all of the above suggested information exists there (and the sheet is not editable by most). It should be pr

[2015-11-15 23:06] jszwedko commented on #48
cc @hackajesse too.

[2015-11-15 23:07] jszwedko commented on #34
@jasonlally how does this fit with #15? Should we close this in lieu of that? Or vice versa?

[2015-11-15 23:08] jszwedko commented on #15
See https://github.com/sfbrigade/sfbrigade.github.io/issues/34#issuecomment-156867722

[2015-11-15 23:09] jszwedko commented on #15
Just took a look at prose.io, it is pretty sleek.

[2015-11-15 23:21] jszwedko commented on #66
Looks like we don't have a separate deck for each week (but rather one that is continuously updated week-to-week) so an archive will be difficult. Going to suggest we copy the deck each week so there is a historic record of what was presented each week.

[2015-11-15 23:41] jszwedko opened #137 "Integrate automated accessibility checking"
To catch low hanging problems

[2015-11-15 23:41] jszwedko commented on #137
Currently looking at https://github.com/GoogleChrome/accessibility-developer-tools

[2015-11-15 23:50] jszwedko opened #138 "Divorce from codeforamerica/labplc_projects_page"
It looks like we can ask Github support to change this repo to "normal mode" to eliminate the upstream connection to codeforamerica/labplc_projects_page. I feel like we've diverged enough that the connection is no longer useful and makes it confusing when opening a pull request since the default target is the upstream rather than master of ours. Any opposition to this?

cc/ @sfbrigade/website-tool

[2015-11-16 00:38] jszwedko commented on #138
:clap:, I didn't realize manualfork could be used with existing repos. The API could definitely be used to clone issues, but I agree that without that feature, it'd be better to go the support route for this one.

[2015-11-16 00:42] jszwedko commented on #138
Sent support request, we'll see what happens.

[2015-11-16 21:01] #108 closed

[2015-11-16 21:07] therebelrobot opened #141 "Add Privacy Policy page"
As per https://github.com/sfbrigade/sfbrigade.github.io/pull/133#issuecomment-157169419, we should have a clear privacy policy to let users know what data we are collecting, and for what purpose. This will also put us in the clear for any European countries that have traffic privacy laws.

[2015-11-16 21:08] afomi commented on #141
:+1:

[2015-11-17 01:39] vedrana15 commented on #126
This is the signup form URL from Mailchimp: http://eepurl.com/bfFkF9

Please let me know if this works or if you need anything else.

Would it be possible to have this sign up enabled by the next hack night?

Thank you!
Vedrana

On Sun, Nov 15, 2015 at 1:43 PM, Jesse Szwedko <notifications@github.com>
wrote:

[2015-11-17 02:50] jszwedko commented on #74
Closed by #135

[2015-11-17 02:50] #74 closed

[2015-11-17 17:28] #138 closed

[2015-11-20 06:08] jasonlally commented on #38
Nothing in flight, you can take it

    _____________________________
From: Jesse Szwedko <notifications@github.com>
Sent: Sunday, November 15, 2015 2:20 PM
Subject: Re: [sfbrigade.github.io] Finish post-a-blog-entry ReadMe (#38)
To: sfbrigade/sfbrigade.github.io <sfbrigade.github.io@noreply.github.com>
Cc: Jason Lally <jason.lally@gmail.com>

@jasonlally I assume you aren't actively working on th

[2015-11-20 06:09] jszwedko commented on #38
:+1: I'll just unassign for now in case someone else gets bandwidth before I can pick it up. Thanks for clarifying!

[2015-11-21 21:49] jszwedko commented on #48
Typo'd the teamname above, @sfbrigade/core-project-launch do you have any opinion on the above?

[2015-11-21 21:51] jszwedko commented on #49
Thanks for the additional info @hackajesse! Gonna icebox this one for now, but it sounds like something we can revisit in the coming year.

[2015-12-03 05:15] jszwedko commented on #122
I'm inclined to close this since I just merged #136 . I feel like it'll pop up again if necessary. Objections?

[2015-12-03 05:16] jszwedko commented on #34
Closing this in lieu of #15 -- lemme know if you intended something different though!

[2015-12-03 05:16] #34 closed

[2015-12-03 05:16] jszwedko commented on #30
Closing in lieu of #142 -- the color contrast issue came up there numerous times. Thanks for the report!

[2015-12-03 05:17] #30 closed

[2015-12-03 05:17] jszwedko commented on #75
Closing, but lemme know if you think this hasn't been addressed!

[2015-12-03 05:17] #75 closed

[2015-12-03 05:17] jszwedko commented on #77
Closing, but lemme know if you think this hasn't been addressed!

[2015-12-03 05:17] #77 closed

[2015-12-03 05:49] jszwedko commented on #117
Talked with @afomi in person, going to close as the page now contains additional information aside from just the signup form.

[2015-12-03 05:49] #117 closed

[2016-01-10 21:06] verythorough commented on #37
Happened across this issue while working on a fork for OpenSMC brigade.  The current solution sets `overflow-y: scroll`, which puts a scrollbar on the div whether the screen size requires it or not.  `overflow-y: auto` will still override bootstrap's `overflow-y: hidden` but will show the scrollbar only when needed.  This is the solution we'll be using in opensmc.  I can submit a PR here, too, if

[2016-01-10 21:26] cjerdonek commented on #37
Sure, do it!

[2016-01-14 04:25] volos123 opened #144 "test linking issues"
I think it be good idea to I think it be good idea to I think it be good idea to I think it be good idea to I think it be good idea to I think it be good idea to I think it be good idea to I think it be good idea to I think it be good idea to I think it be good idea to I think it be good idea to I think it be good idea to I think it be good idea to I think it be good idea to I think it be good ide

[2016-01-14 04:27] volos123 commented on #144
this is a comment

[2016-01-14 04:52] #144 closed

[2016-01-15 01:00] Sergey-Litvinenko opened #145 "CycleReady URL / Linking issue"
1. When you search for CycleReady (use exact word match) via Google you have this url at the top of SERPs

http://codeforsanfrancisco.org/projects/test/ (note /test/ part of url)

2. Click on "Visit cycleready.com for details about our project" (note mention of a domain name)

results in 404 when clicked - reason - missing http part of url when inserting the link

3. when you (if you are willing t

[2016-01-15 01:28] Sergey-Litvinenko opened #146 "Code for SF optimization suggestion"
http://codeforsanfrancisco.org/projects/

Note: Title says - Our Projects, it is better if it's more descriptive:

 <title>Code For San Francisco projects | current | past | ongoing</title>

or something of that nature that is human and machine readable and keyword reach.

Note:  <meta name="description" content="San Francisco locals helping San Francisco government and local organizations open th

[2016-01-15 18:42] ralphreid commented on #54
Hiya jszwedko - need any help on this one?

[2016-01-16 05:01] jszwedko commented on #54
@ralphreid I completely forgot I had this open, I would love some help if you want to take it on. I didn't end up getting the chance to work on it at the time.

[2016-01-16 06:03] ralphreid commented on #54
Hi Jesse,

Cool, happy to take crack at that. Would it be ok if it was baked into a vagrant / puppet solution. Do you think anyone else would use this feature?

New to the project and keen to help, so ping me in slack to and we can discuss further.

Best.

[2016-01-16 07:16] cjerdonek commented on #54
Personally, vagrant seems like overkill to me and also wouldn't address the issue of files like Bootstrap being served from a CDN, which is what was causing this issue.

[2016-01-17 04:45] jszwedko commented on #54
Awesome @ralphreid !

I tend to agree with @cjerdonek that Vagrant may be a little overkill for this project which has so few dependencies (just Ruby and Jekyll). I was initially thinking maybe we could just have Jekyll conditionally include `<script src="">` and `<stylesheet>` tags pointing at vendored copies, when building, if running locally; however, this raises the question of how would we en

[2016-01-28 04:21] jszwedko commented on #145
Hi @Sergey-Litvinenko, thanks for reporting this and apologies for the delay.

It looks like this was a test post that was superseded by http://codeforsanfrancisco.org/projects/sf-cycleready/.

I've submitted a pull request for review by @therebelrobot (#149) that:

* Updates http://codeforsanfrancisco.org/projects/test/ to redirect to http://codeforsanfrancisco.org/projects/sf-cycleready/
* Fixed

[2016-01-28 04:31] jszwedko commented on #146
@Sergey-Litvinenko I definitely agree, we should better utilize the page title and make it consistent. I'll take a pass at this.

There are some machinations in the works to revise the way the projects are presented, but I agree we should give this page a polishing. At the least, it does sort them from based on activity (most recent activity to least). I'll add AdoptADrain now while I'm thinking a

[2016-01-28 20:56] #122 closed

[2016-02-10 21:52] therebelrobot opened #150 "CodeAcross button"
We need a direct link to codeacross page from the main landing page. Currently http://codeforsanfrancisco.org/codeacross redirects to the meetup page, but we need an easy way for people to even get there from the main page.

[2016-02-10 21:58] grepdisc opened #151 "Update events page for CodeAcross"
@therebelrobot I committed to master and think that the events page is ready to be deployed.

[2016-02-10 22:01] #151 closed

[2016-02-10 22:07] grepdisc commented on #151
Thank you for this correction. I'll be sure to utilize a pull request, next time.

[2016-02-13 22:40] jszwedko commented on #150
@therebelrobot I gave this a shot in #152 -- let me know if this is what you were thinking of.

[2016-02-15 00:30] jszwedko commented on #145
Closed by #149

[2016-02-15 00:30] #145 closed

[2016-02-15 00:32] jszwedko commented on #126
@ondrae any update on this? Is it possible to swap the link for our mailing list?

[2016-02-15 01:05] jszwedko commented on #48
It seems like some of this is covered by [`civic.json`](https://github.com/BetaNYC/civic.json). Also see additional fields documented in https://github.com/BetaNYC/civic.json/pull/5/files which it looks like the CfA API worker picks up.

[2016-02-15 01:10] jszwedko commented on #48
Closing this and opening an issue to expose more metadata on the projects page from the CfA API.

[2016-02-15 01:10] #48 closed

[2016-02-15 01:11] jszwedko opened #154 "Expose more metadata from the CfA API on the projects page"
Spawned from #48

The API (http://codeforamerica.org/api/organizations/Code-for-San-Francisco/projects) returns a bunch more metadata than we currently expose. See the discussion on #48 for additional fields we could show on our site.

[2016-02-15 01:43] jszwedko commented on #3
Closing since this is now possible via the `prose` links for each project.

[2016-02-15 01:43] #3 closed

[2016-02-15 01:45] jszwedko commented on #15
Closing since this exists -- users can create new blog posts or add/edit project details via the prose links.

[2016-02-15 01:45] #15 closed

[2016-02-15 17:51] ondrae commented on #126
@jszwedko No, sorry. I wont be able to work on that attendance tool for the foreseeable future. It is where it is.

[2016-02-15 18:50] jszwedko commented on #126
@ondrae no worries! Thank you for the clarification.

[2016-02-15 18:57] jszwedko commented on #126
@ondrae is there a repository somewhere that we could could contribute to to add this as an optional feature? I wasn't able to find it.

Still trying to clone https://github.com/codeforamerica/codeforamerica.org to spelunk there, but it looks like the repo is in the 100s of megabytes so it's taking its time.

[2016-02-15 19:13] ondrae commented on #126
@jszwedko Here is the html https://github.com/codeforamerica/brigade/blob/master/brigade/templates/checkin.html
Here is where you'd switch out the mailchimp link https://github.com/codeforamerica/brigade/blob/master/brigade/views.py#L867

Problem is, we need it to work for every group. So we could include the mailchimp id as an extra optional attribute in the CfAPI https://github.com/codeforameric

[2016-02-15 19:26] jszwedko commented on #126
Agreed! I was thinking, if anything, it'd be an optional attribute.

That is good context to have around the check-in tool. I was also disappointed to see Persona shutting down -- that does raise some questions around how this data will be exposed in the future.

I think the use case the tool is serving is very useful though, do you think maintaining the current implementation (transitioning to a

[2016-02-17 17:04] #150 closed

[2016-02-17 17:05] #116 closed

[2016-02-20 00:32] therebelrobot opened #157 "Add new projects to project page"
- [x] Brigadehub - https://github.com/sfbrigade/brigadehub
- [x] Data Science Working Group - https://github.com/sfbrigade/data-science-wg

[2016-02-20 20:11] jszwedko commented on #157
Looks like they are there now, feel free to close this if you are happy @therebelrobot

[2016-02-20 20:25] #157 closed

[2016-02-21 03:11] jszwedko commented on #118
Closed by #156

[2016-02-21 03:11] #118 closed

[2016-02-21 03:41] jszwedko commented on #141
Took a stab at this in #158 -- let me know what you both think!

[2016-02-25 03:23] jszwedko commented on #137
Closed by #142

[2016-02-25 03:23] #137 closed

[2016-02-25 03:53] jszwedko opened #159 "Consider adding a Github Issues button to the website"
-- and or in Brigade Communications

As a User,
I want to know the place to put Issues,
so I can be assured my feedback is received in the appropriate place.

* Github issues provides status of an Issue over its lifecycle

Ref https://github.com/sfbrigade/Website-Tools-Team/issues/9

[2016-04-09 04:46] jszwedko commented on #141
Closed by #158

[2016-04-09 04:46] #141 closed

[2016-04-14 04:31] #54 closed

[2016-04-14 04:31] jszwedko commented on #54
Fixed by #153

[2016-04-17 19:15] jszwedko commented on #66
Closed by https://github.com/sfbrigade/sfbrigade.github.io/commit/26acd36c367b2ed0a6cff0f76eb7e86ce24160e9

[2016-04-17 19:15] #66 closed

[2016-04-17 19:16] jszwedko commented on #126
Closing this since we'll be swapping the check-in app with our own.

[2016-04-17 19:16] #126 closed

[2016-05-11 17:03] therebelrobot opened #161 "Default Google Calendar in Events page to agenda view"
from @MissPaaj in slack:

[2016-05-17 23:53] hackajesse opened #162 "Spruce up codeforsanfrancisco.org domain requirements to avoid spam filters"
![screen shot 2016-05-17 at 3 24 59 pm](https://cloud.githubusercontent.com/assets/3886936/15343213/d4a8c9ce-1c4f-11e6-8dd2-3602dfd6505c.png)

[2016-05-18 04:36] jszwedko commented on #162
![2016-05-17-213312_575x849_scrot](https://cloud.githubusercontent.com/assets/316880/15347488/fd536e48-1c76-11e6-869f-8508ab9dffac.png)

Setup DKIM and the SPF record. DMARC feels a little unnecessary at our scale, but could be something to consider if we encounter individuals pretending to be us.

[2016-05-18 04:37] jszwedko commented on #162
Let me know what you think @hackajesse

[2016-05-21 19:59] #161 closed

[2017-11-02 17:29] k80 opened #165 "Broken link on Roadmap to HTML project"
In the second paragraph on the [Roadmap to HTML](http://codeforsanfrancisco.org/projects/Roadmap-to-HTML) page, the link stating "view the current HTML output on our github pages site." This goes to `http://codeforsanfrancisco.org/projects/rootandrebound.github.io/roadmap-to-html/` instead of `http://rootandrebound.github.io/roadmap-to-html/`

[2017-11-02 18:20] #165 closed